<!DOCTYPE html>
<html lang="zh">
<head>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<title>来播laibo</title>
	<link rel="stylesheet" type="text/css" href="/sheetstyles/commons-x8.css" />
	<link rel="stylesheet" type="text/css" href="/sheetstyles/user.x8.css" />
	<script type="text/javascript">
		window.__initdata__ = <%-JSON.stringify(store)%>
	</script>
<link href="/sheetstyles/styles.css?5e977d85e7708d7fdd7e" rel="stylesheet"></head>
<body>
	<app></app>
<script type="text/javascript" src="/javascripts/commons.bundle.js?5e977d85e7708d7fdd7e"></script><script type="text/javascript" src="/javascripts/user.bundle.js?5e977d85e7708d7fdd7e"></script><script type="text/javascript" src="/javascripts/less.bundle.js?5e977d85e7708d7fdd7e"></script></body>
</html>
